# Gradle
.gradle/
build/
**/build/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Local config
local.properties

# Proguard
proguard/

# Keystore
*.jks
*.keystore

# OS files
.DS_Store
Thumbs.db
